@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  font-family: 'Onest', sans-serif;
}

:root {
  --text-primary: #1b1d22;
  --text-secondary: #232323;
  --text-brand: #ff7d0c;
  --text-brand-hover: #f78018;
  --surface-primary: #ffffff;
  --surface-secondary: #f6f6f6;
  --surface-brand: #ff7d0c;
  --surface-brand-secondary: #fff1e3;
  --surface-brand-hover: #f78018;
  --border-primary: #f8c6ae;
}

:root.dark {
  --text-primary: #fafbfc;
  --text-secondary: #d9d9d9;
  --text-brand: #fb8c2b;
  --text-brand-hover: #f78018;
  --surface-primary: #09090b;
  --surface-secondary: #141418;
  --surface-brand: #fe9332;
  --surface-brand-hover: #f68922;
  --border-primary: #946c5c;
}
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-vertical {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }
}
